/*
    [Acerca De Nosotros]-(Version 2) 

Version para mobiles y pantallas pequeñas max-width: 767px
JDNL - 
user.email: jaimedanielnavarrolobato2@gmail.com 
user.name: Jaime-Daniel-Navarro
_______________________________________________________________________
*/

@media only screen and (min-width: 1024px) {
    /*
    ///////////////////////////////////////////////////////////////////////////|
    ===========================================================================|
    ///////////////////////////////////////////////////////////////////////////|
    */
    body{
    
        font-size: 15px;
        font-weight: 400;
        line-height: 1.8em;  
    }





    
/*/////////////////////////////////////////////////////////////////////////|
===========================================================================|
///////////////////////////////////////////////////////////////////////////|            */
}